.selectNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 90%;
    padding: 20px 10px;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: whitesmoke;
    background-image: none;
    flex: 1;
    padding: 2px .6em;
    color:#1c3c17;
    cursor:pointer;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

/* select:hover{
    color: #854016;
    transition:.2s all ease;
} */

select::-ms-expand {
    display: none;
}

.selectMenu {
    position: relative;
    display: flex;
    width: 10em;
    height: 2.3em;
    line-height: 2.1;
    background: whitesmoke;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid #1C3C17;
    
 }
 .selectMenu::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    color:#1c3c17;
    background: whitesmoke;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }

 .selectMenu:hover::after {
    color: whitesmoke;
    background: #1c3c17;
    transition:.2s all ease;
 }


 @media screen and (max-width: 768px) {
    select {
        padding: 1px .2em;
    }
    .selectMenu::after {
        padding: 0 0.3em;
    }
 }