.card {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.card .description {
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    color: whitesmoke;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.card .name_breed{
    font-size: 1.5rem;
    color: whitesmoke;
}

.card:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.card:nth-child(2n+3) {
    grid-row-start: span 2;
}

.card:nth-child(4n+5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.card:nth-child(6n+7) {
    grid-row-start: span 1;
}

.card:nth-child(8n+9) {
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) grayscale(200);
    transition: 0.3s ease-in-out;
}

.card:hover img{
    filter: brightness(1) grayscale(0);
}


@media only screen and (max-width: 768px) {
    .card .description {
        font-size: 0.65rem;
    }
    .card .name_breed{
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 430px) {
    .card {
        display: block;
        width: 100%;
        height: 100%;
        margin: 2% 0;
    }
    .card img{
        display: block;
        filter: brightness(1) grayscale(0);
    }
    .card .description {
        font-size: 0.5rem;
    }
    .card .name_breed{
        font-size: 0.7rem;
    }

}