.display{
    display: flex;
}

.main {
    background-image: url('../../img/landPage.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 4%;
    font-family: 'Lato', sans-serif;
    height: 100%;
}
    
.title {
    position: fixed;
    font-size: 7rem;
    color: whitesmoke;
    margin-left: 1.8rem;
}

.boxDescription {
    margin-left: 50rem;
    margin-top: 30rem;
    justify-content: flex-end;
    align-items: baseline;
}

.description {
    padding-right: 2em;
    text-align: end;
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    color: hsl(0, 0%, 96%);
}


.swipeUp {
    color: whitesmoke !important;
    font-size: 4rem;
    display: flex;
    justify-content: flex-start;
    padding: 50px;
    margin: 0 8%;
}

.swipeUp span {
    font-size: 3rem;
    color: whitesmoke;
    font-weight: 400;
}

.swipeUp:hover{
    transform: translate(0, -100%);
    transition: 2s;
}



@media only screen and (max-width: 768px) {
    .main {
        background-image: url('../../img/mobile-landPage.jpg');
        padding: 100px 20px;
    }
    .boxDescription {
        margin-left: 30rem;
        margin-top: 30rem;
    }
    .description {
        font-size: 2.2rem;
    }
    .title{
        font-size: 6.5rem;
    }
}

@media only screen and (max-width: 430px) {
    .main {
        padding: 15%;
    }
    .boxDescription {
        position: absolute;
        margin-left: 3rem;
        margin-top: 29rem;
    }
    .description {
        font-size: 1.5rem;
        text-shadow: 0.1rem 0.1rem 0.1rem #37373a; 
    }
    .title{
        position: absolute;
        font-size: 5rem;
    }
    .swipeUp {
        margin: 230% 0 0;
        font-size: 1.8rem;
    }
    .swipeUp span{
     font-size: 1.8rem;
    }

}