.searchBox {
    transform: translate(-20%, -20%);
    background-color: #1C3C17;
    border: 2px solid #1C3C17;
    height: 40px;
    border-radius: 20px;
    padding: 3px 9px;
    cursor: pointer;
}

.searchBox:hover > .searchText{
    width: 200px;
    padding: 0 6px;
}

/* .searchBox:hover > .searchIcon{
    color:#854016;
}
 */
.searchIcon{
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    float: right;
    width: 2em;
    height: 2em;
    transition: 0.6s;
}

.searchText{
    float: left;
    border: none;
    background: none;
    padding: 0;
    transition: 0.4s;
    line-height: 40px;
    color: #FFFFFF;
    width: 0;
}

input {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
}

input:focus {
    outline: transparent;
}

@media screen and (max-width: 430px) {
    .searchBox {
        font-size: 0.7rem;
        padding: 2px 2px;
    }
    .searchBox:hover > .searchText{
        width: 100px;
        padding: 0 3px;
    }
    .searchIcon{
        width: 1.8em;
        height: 2.5em;
    }
    input {
        font-size: 0.8rem;
    }
}