.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0 0 30px;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
}

.container{
    background: whitesmoke;
    width: 70%;
    height: 70%;
    display: grid;
    margin-top: 30px;
    grid-template-columns: 40% 60%;
    grid-template-areas: "cover content";
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 43px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 43px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 43px 0px rgba(0,0,0,0.75);
}
 
.container .cover{
    flex-wrap: wrap;
    border-radius: 20px 0 0 20px;
    grid-area: cover;
    height: 80vh;
    background-size: cover;
    background-position: center center;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 20px 20px 0;
    padding: 0 30px 100px 20px;
    color: #1C3C17;
}

.container .content .close a{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
    color: #1C3C17 !important;
}

.container .content .close a:hover{
    transform: translate(-0.5%);
    transition: 0.2s;
}


.container .content .titles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: -120px 0 0;
    width: 100%;
    height: 10em;
}

.container .content .title {
    font-size: 2.3rem;
    color: #854016;
    letter-spacing: .07em;
    font-weight: 800;
}

.container .content .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    padding: 6px 50px;
    font-size: 1.2rem;
    margin: -30px 0 0;
}

.container .content .info span{
    font-weight: 400;
}

.container .content .info h3 {
    margin-left: 25px;
    font-size: 1.2rem;   
}



@media only screen and (max-width: 430px) {

}