.wrapper{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper .nonBar{
    display: none;
}

.wrapper .tempBar {
    max-width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 60px;
    align-items: center;
}

.wrapper .serarchBar {
    max-width: fit-content;
    align-items: center;
    padding-top: 25px;
    margin: auto;
    margin-right: -5px;
}


.filtersNav .items {
    display: flex;
    justify-content: flex-start;
    max-width: fit-content;
    width: 100%;
}

.filtersNav .items .item{
    padding: 5px 20px;
    margin: 1.2%;
    font-size: 1em;
    font-weight: 500;
    max-width: fit-content;
    color: #1C3C17;
    border: 2px solid #1C3C17;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.6s ease;
}
/* .wrapper  nav .items .item:hover{
    color: whitesmoke;
    background: #1C3C17;
} */

.items .item:hover {
    background: #1C3C17;
    color: whitesmoke;
}


@media only screen and (max-width: 768px) {

    .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .filtersNav .items {
        max-width: 600px;
        flex-wrap: wrap;
    }
    
    .filtersNav .items .item{
        padding:  2px 10px;       
    }
}

@media only screen and (max-width: 430px) {

    .wrapper {
        flex-wrap: wrap;
        max-width: fit-content;
        font-size: 0.8rem;
        flex-direction: column;
    }

    .wrapper .tempBar {
        margin: 10% auto;
    }

    .filtersNav .items {
        max-width: 600px;
        flex-wrap: wrap;
    }
    
    .filtersNav .items .item{
        padding:  2px 10px;       
    }
}
